<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" >
    <title>Carl</title>

  </head>
  <body>

    {{> header}}
  <div>
    <img src={{image}} alt="Carl the Unicorn Picture" width="300px" />

    <p>
      Carl, the unicorn is here.
      No relation to Charlie the Unicorn.
    </p>
  </div>
  {{> footer}}
  </body>
</html>
